/* Default theme. Simple, yet elegant. */

/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* See https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables for variables to override. */
:root {
  --bs-font-sans-serif: "Open Sans", sans-serif;
  --bs-link-color: var(--bs-blue);
  --tf-pill-bg: #6EAE29;
  --tf-pill-color: #1A3541;
  --tf-icon-fill: var(--bs-gray);
  --tf-icon-hover: var(--bs-gray-500);
  --tf-page-bg-color: #BBCBCB;
  --tf-footer-bg-color: var(--bs-gray-200);
  --tf-projects-bg-color: #1A3541;
}


h1 {
  color: #6EAE29;
  font-weight: bolder;
}

.card  {
  background-color: #BBCBCB;
}

.card .card-body {
  margin-left: 1em;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  height: auto;
  width: 100%;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--tf-icon-fill);
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
  transition: 0.2s;
}

.tf-social:hover {
  fill: var(--tf-icon-hover);
}

a {
  text-decoration: none;
}

@media (max-width: 500px) {
  .navbar-brand {
    display: none;
  }

  .navbar-brand-mobile {
    display: inline;
  }
}

/* Simplify the styling of the bottom of Essay cards. */
.card-footer {
  background-color: var(--bs-white);
  border-top: none;
}
